.carroussel {
	height: 100%;
}

.carroussel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@media (max-width: 800px) {
	img {
		width: 75%;
		height: 75%;
	}
}
.icon-cards {
	position: relative;
	width: 60vw;
	height: 40vw;
	max-width: 380px;
	max-height: 250px;
	margin: 0;
	perspective: 1000px;
	transform-origin: center;
}
.icon-cards__content {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: translateZ(-30vw) rotateY(0);
	-webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1)
		forwards;
	animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
	-webkit-animation: carousel 8s infinite steps(1) forwards;
	animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
	position: absolute;
	top: 100px;
	left: auto;
	right: auto;
	bottom: 0;
	width: 60vw;
	height: 40vw;
	max-width: 380px;
	max-height: 250px;
	border-radius: 6px;
	transform-origin: center;
}
.icon-cards__item:nth-child(1) {
	transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
	transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
	transform: rotateY(240deg) translateZ(35vw);
}

@-webkit-keyframes carousel {
	0%,
	17.5% {
		transform: translateZ(-35vw) rotateY(0);
	}
	27.5%,
	45% {
		transform: translateZ(-35vw) rotateY(-120deg);
	}
	55%,
	72.5% {
		transform: translateZ(-35vw) rotateY(-240deg);
	}
	82.5%,
	100% {
		transform: translateZ(-35vw) rotateY(-360deg);
	}
}

@keyframes carousel {
	0%,
	17.5% {
		transform: translateZ(-35vw) rotateY(0);
	}
	27.5%,
	45% {
		transform: translateZ(-35vw) rotateY(-120deg);
	}
	55%,
	72.5% {
		transform: translateZ(-35vw) rotateY(-240deg);
	}
	82.5%,
	100% {
		transform: translateZ(-35vw) rotateY(-360deg);
	}
}

img {
	border-radius: 20px;
}
