.section1 {
	display: flex;
	justify-content: space-around;
	margin: 250px auto 150px auto;
	width: 80%;
}

.section2 {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0px auto 200px auto;
}

@media screen and (max-width: 1653px) {
	.section1,
	.section2 {
		flex-direction: column;
	}
	.photo1 {
		min-height: 408px;
		min-width: 612px;
	}
}

.partie1-2,
.partie2-1 {
	text-align: center;
	color: white;
	line-height: 5vw;
	font-size: 1.2vw;
}

.partie1-1,
.partie2-2 {
	text-align: center;
}

.photo1 {
	height: 100%;
	width: 100%;
	max-height: 490px;
	max-width: 734px;
}

@media screen and (max-width: 1653px) {
	.section2 {
		flex-direction: column;
	}

	.partie2:nth-child(1) {
		order: 2;
	}

	.partie2:nth-child(2) {
		order: 1;
	}

	.paragraphe1,
	.paragraphe2 {
		text-align: center;
		font-size: 25px;
	}
}
